.home-container {
    padding: 2rem 4rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.flex {
    display: flex;
}
.start {
    justify-content: flex-start;
}
.gap-1 {
    gap: 1rem;
}